@use '../../styles/theming';

.duration {
  display: inline-block;
  background-color: theming.$panelBackgroundColor;
  color: theming.$panelTextColor;
  font-size: 0.75em;
  padding: 0.1em 0.2em;
  border: 1px solid theming.$panelAccentColor;
  border-radius: 0.25em;
}
