@use '../../styles/theming';

.container {
  > * + * {
    margin-top: 0.25rem !important;
  }
}

.steps {
  list-style: none;
  padding: 0;
  margin: 0;

  > * + * {
    margin-top: 0.25rem !important;
  }
}

.expandButton {
  background-color: transparent;
  color: theming.$exampleNumberColor;
  font-size: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 0.25rem;
}
