@use '../../styles/theming';

.snippets {
  position: relative;
  white-space: pre-wrap;
  width: fit-content;
  font-size: 0.875em;
  padding: 0.666em 0.75em;
  border-radius: 0.25em;
  margin: 0;
  overflow-x: auto;
  background-color: theming.$codeBackgroundColor;
  color: theming.$codeTextColor;
}
