@use '../../styles/theming';

.message {
  white-space: pre-wrap;
  font-size: 0.875em;
  width: fit-content;
  padding: 0.666em 0.75em;
  border-radius: 0.25em;
  margin: 0;
  overflow-x: auto;
  background-color: theming.$errorBackgroundColor;
  color: theming.$errorTextColor;
}
