@use '../../styles/theming';
@use '../../styles/tables';

.examplesTable {
  @include tables.cucumber-table-style;

  th:first-child,
  td:first-child {
    border-left: none;
  }

  tbody tr {
    cursor: pointer;
  }
}
