@use 'sass:color';
@use '../../styles/statuses';
.icon {
  @each $name, $color in statuses.$statusColors {
    &[data-status='#{$name}'] {
      color: color.adjust($color, $alpha: -0.25);
    }
  }
}
