@use '../../../styles/theming';

.copyButton {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.text {
  position: relative;
  width: fit-content;
  overflow-x: auto;
  background-color: theming.$codeBackgroundColor;
  color: theming.$codeTextColor;

  pre {
    white-space: pre-wrap;
    font-size: 0.875em;
    padding: 0.666em 2.25em 0.666em 0.75em;
    border-radius: 0.25em;
    margin: 0;
  }
}

.log {
  padding-left: 3.25em;

  &::before {
    content: 'Log';
    position: absolute;
    top: 0.666em;
    left: 0.75em;
    text-transform: uppercase;
    font-weight: bold;
    color: theming.$parameterColor;
    opacity: 0.75;
  }
}

.icon {
  margin-right: 0.75em;
  opacity: 0.333;
}

.image {
  max-width: 100%;
  margin-top: 0.5em;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
    color: theming.$anchorColor;
  }

  svg {
    margin-right: 0.5em;
  }
}
