@use 'theming';

@mixin cucumber-table-style {
  border-collapse: collapse;
  margin: 0;

  thead tr {
    border-bottom: 6px solid transparent;
  }

  tr + tr {
    border-top: 6px solid transparent;
  }

  th,
  td {
    padding: 0.4em 0.6em;
    border-width: 2px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-color: theming.$keywordColor;
    color: theming.$parameterColor;
  }
}
