@use '../../styles/theming';

.button {
  background-color: transparent;
  font-size: inherit;
  padding: 0;
  border: none;
  color: theming.$anchorColor;
  cursor: pointer;

  &:disabled {
    cursor: unset;
  }
}
