@use '../../styles/theming';

.icon {
  padding-top: 0.35em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.accordion {
  border: 1px solid theming.$panelAccentColor;
  border-radius: 2px;
}

.accordionItem + .accordionItem {
  border-top: 1px solid theming.$panelAccentColor;
}

.accordionButton {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75em 1em;
  border: none;
  background-color: theming.$panelBackgroundColor;
  color: theming.$panelTextColor;
  cursor: pointer;
  text-align: left;

  &:hover {
    background-color: theming.$panelAccentColor;
  }
}

.accordionChevron {
  transform-origin: center center;
  transition: transform 0.2s linear;

  .accordionButton[aria-expanded='true'] &,
  .accordionButton[aria-selected='true'] & {
    transform: rotate(90deg);
  }
}

.accordionPanel {
  padding: 1.25em;
}
