$statusColors:
  'PASSED' #2cb14a,
  'SKIPPED' #00a0cc,
  'PENDING' #ffad33,
  'UNDEFINED' #ffad33,
  'AMBIGUOUS' #f4ebfd,
  'FAILED' #bb0000,
  'UNKNOWN' #b6becb;

.statusesList {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

.statusesItem {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 11em;
  padding: 0.333em 2.5em;
  background-color: black;
  color: white;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;

  @each $name, $color in $statusColors {
    &[data-status='#{$name}'] {
      background-color: $color;
    }
  }
}
