name: Release npm module

on:
  push:
    branches:
      - release/*

jobs:
  pre-release-check:
    uses: ./.github/workflows/prerelease-checks.yml

  test:
    uses: ./.github/workflows/test.yml

  publish-npm:
    name: Publish NPM module
    needs: [pre-release-check, test]
    runs-on: ubuntu-latest
    environment: Release

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npm run compile
      - uses: cucumber/action-publish-npm@v1.1.0
        with:
          npm-token: ${{ secrets.NPM_TOKEN }}

  create-github-release:
    name: Create GitHub Release and Git tag
    needs: [publish-npm]
    runs-on: ubuntu-latest
    environment: Release
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: cucumber/action-create-github-release@v1.1.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
